:root {
    --image-container-width: 33vw;
    --view-height: 99.9vh;
    --default-margin: 0px;
    --default-padding: 0px;
    --height-for-odin-logo: 15vh;
    --padding-for-form: 3vw;
    --width-of-info-content: 67vw;
}

html {
    height: var(--view-height);
    margin: var(--default-margin);
    padding: var(--default-padding);
    border: 0px;
    font-family: sans-serif;
}
body{
    margin: var(--default-margin);
    padding: var(--default-padding);
}

#grass {
    width: var(--image-container-width);
    height: var(--view-height);
}
#odin {
    height: var(--height-for-odin-logo);
    width: 6vw;
}

.container {
    display: flex;
    margin: var(--default-margin);
    padding: var(--default-padding);
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75vw;
    height: 96vh;
    margin: var(--default-margin);
    padding: var(--default-padding);
}
.top-info{
    display: flex;
    flex-direction: column;
    font-size:.8rem;
    gap: 1vh;
    margin-bottom:3vh;
    margin-left: 5vw;
    padding-right:10vw;
}
.f-container {
    display: flex;
    flex-direction: row;
    width: var(--width-of-info-content);
    background-color: aliceblue;
    color: black;
    box-shadow: 10px 5px 5px black;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--default-margin);
    padding: var(--default-padding);
    color: white;
    background-color: rgb(0,0,0, 50%);
    position: absolute;
    height:var(--height-for-odin-logo);
    width: var(--image-container-width);
    top: 20vh;
}
.logo-container > h1 {
    font-size: 10vh;
    opacity: 100%;
}
form {
    display: flex;
    flex-direction: column;
}
.input-container{
    display: flex;
    flex-wrap: wrap;
    width: 31vw;
    padding-left:var(--padding-for-form);
    justify-content: space-between;

}
.label-input-1, .label-input-1 ~ div{
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 9vh;

}
label {
    margin-bottom: 5px;
}
legend {
    font-size: 1.5rem;
    padding-top: 2vh;
    padding-left: var(--padding-for-form);
    margin-bottom: 1vh;
}
input{
    width: 12vw;
    height: 3vh;
    border-color: black;
    border-width: .15em;
    border-radius: 10px;
}
input:hover{
    border-color: blue;
}
input:focus {
    box-shadow: 1px 1px 5px black;
}
input:invalid{
    outline:none;
    border: .2em solid red;
}
.bottom-info {
    display: flex;
    flex-direction: column;
    width: var(--width-of-info-content);
    margin-top: 3vh;
}
.bottom-info > button {
    background-color: #596D48;
    color: white;
    font-size: 1.3rem;
    width: 15vw;
    height: 5vh;
    margin-left: 2vw;
    margin-bottom: 4vh;
}
p {
    margin-left:2vw;
}